{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- External Resources


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
  <! /External Resources -->


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/landing-style.css' %}">
  <!-- My Resources
  <link rel="stylesheet" href="{% static 'css/landing-style.css' %}">
  -->
  <script src="{% static 'js/base.js' %}"></script>
  <!-- /My Resources -->


  {% block head %}
  {% endblock %}

</head>
<body>

  <div class="navigation">
      <div class="container">
          <div class="row">

              <div class="col-md-6 col-sm-3 col-xs-12">
                  <div>
                      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
                  </div>
                </div>

              <div class="col-md-6 col-sm-9 col-xs-12 cta-block">

                  <button type="button" class="sign-in" name="button"
                          onclick="location.href='{% url 'uauth:login' %}';">LOGG INN
                  </button>
                  <button type="button" class="create-account" name="button"
                          onclick="location.href='{% url 'uauth:register' %}';">LAG KONTO
                  </button>
                  <ul class="nav navbar-nav navbar-right">

              </div>

          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-12 callout">
              <h1>Din digitale arbeidsplass, for prosjekter og samhandling.</h1>
              <h2>En<span class="orange"> enkel</span>, <span class="orange">moderne</span> &
                  <span class="orange">inntuitiv </span> løsning for digitale talenter & oppdragsgivere.</h2>
                  <br>
              <h2>
                  Lag en konto <strong><span class="orange">GRATIS</span></strong>.
              </h2>
              <button type="button" class="main-cta" name="button"
                      onclick="location.href='{% url 'uauth:register' %}';">LAG GRATIS KONTO
                  <img class="arrow"
                       src="{% static 'images/right.svg' %}"
                       alt=""></button>
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row feature">
          <div class="col-md-6 contacts">
          </div>
          <div class="col-md-6 feature-description">
              <img src="/static/landing/img/clients.svg" class="description-img" alt="">
              <h3>Hold styr på dine oppdragsgivere!</h3>
              <p>Mist aldri oversikten i dine prosjekter! Sammhandling mellom Talent og Oppdragsgiver.
                </p>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row feature">
          <div class="col-md-6 feature-description">
              <img src="/static/landing/img/check.svg" class="description-img" alt="">
              <h3>Styr dine prosjekter, oppgaver & timeføring.</h3>
              <p>Vær mer Produktiv! Opprett prosjekter, oppgaver og før timer for
                  vær oppgave.</p>
          </div>
          <div class="col-md-6 projects">
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row feature">
          <div class="col-md-6 invoices">
          </div>
          <div class="col-md-6 feature-description">
              <img src="/static/landing/img/invoicing.svg" class="description-img" alt="">
              <h3>Lag og send faktura</h3>
              <p>Få betalt i tide! Flexibelt og brukervennlig betalingsløsning system.</p>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row feature">
          <div class="col-md-6 feature-description">
              <img src="/static/landing/img/apps.png" class="description-img" alt="">
              <h3>Bli med i ett Team av digitale talenter!</h3>
              <p>Bli bedre og lær av andre! Vær med og bygge Norges tøffeste miljø av den neste generasjon digitale talenter.</p>
          </div>
          <div class="col-md-6 apps">
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-12 callout mid">
              <h1>Hjelp oss med og bygge wrsp</h1>
              <h2>Vi ønsker og bygge fremtidens digitale arbeidsplass. Lag en <strong><span
                      class="orange">GRATIS</span></strong>
                  konto!</h2>
              <button type="button" class="main-cta" name="button"
                      onclick="location.href='{% url 'uauth:register' %}';">LAG GRATIS KONTO!
                  <img class="arrow"
                       src="/static/landing/img/right.svg"
                       alt=""></button>
          </div>
      </div>
  </div>



  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-2 col-xs-4"><span class="copy">© wrsp 2017</span></div>
              <div class="col-md-6 col-sm-10 col-xs-8 links"><a class="copy"
                                                                href="mailto:post@wrsp.no">kontakt oss
                  </a></div>
          </div>
      </div>
  </footer>


</body>
</html>
