{% extends "base.html" %}

{% load thumbnail %}
{% load utils %}
{% load staticfiles %}

{% block title %}{{ user.get_full_name }}{% endblock %}


{% include "user/profile/tab-activity.html" %}
{% include "user/profile/tab-portifolio.html" %}
{% include "user/profile/tab-profile.html" %}
{% include "user/profile/tab-settings.html" %}



{% block content %}
  
<div id="page-content">

 <div id="profile">
   {% include "user/profile/tab-profile.html" %}
 </div>

 <div id="tab-activity">
   {% include "user/profile/tab-activity.html" %}
 </div>

 <div id="tab-settings">
   {% include "user/profile/tab-settings.html" %}
 </div>

 <div id="tab-portifolio">
   {% include "user/profile/tab-portifolio.html" %}
 </div>
</div>


{% endblock %}
{% block domready %}



    $('div#tab-activity').hide();
    $('div#tab-settings').hide();
    $('div#portifolio').hide();

{% endblock %}