{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- External Resources -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- Searchbar slide down -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
  <!-- /External Resources -->

  <!-- My Resources -->
  <link rel="stylesheet" href="{% static 'css/base-django-tut.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-sidenav.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-profilenav.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-header.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-mycss.css' %}">


  <script src="{% static 'js/base.js' %}"></script>
  <!-- /My Resources -->

  {% block head %}
  {% endblock %}

</head>

<body>

<!-- WRAPPER -->
<div class="cWrapper">
  {% if request.user.is_authenticated %}
    <!--Header-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!--Search bar -->
            <div class="container searchbarBody" id="searchBar" style="display:none;">
              <div class="row">
                <div class="col-xs-8 col-xs-offset-0">
                  <div class="input-group">
                    <!--<div class="input-group-btn search-panel">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Kategori</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Prosjekter</a></li>
                        <li><a href="#">Brukere</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Alt</a></li>
                      </ul>
                    </div>

                  <input type="hidden" name="search_param" value="all" id="search_param">-->

                    <input type="text" class="form-control" name="x" placeholder="Søk her...">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Søk <span style="display:inline-block; width:5px;"></span><span class="glyphicon glyphicon-search text"></span></button>
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/Search bar -->

          <div class="col-md-6 socl-icons">
            <ul>
              <li><a id="searchIcon" style="cursor: pointer"><i class="fa fa-search widthHeight" aria-hidden="true"></i></a></li>

              <!-- Messages -->

              <li>
                <div id="msg-panel" class="dropdown">
                  <a class="dropdown-toggle"><i class="fa fa-comments widthHeight" aria-hidden="true"></i> </a>
                  <ul class="dropdown-menu message-dropdown  notificationBar mMargLeft">
                    <div class="arrow mArrowPos"></div>

                    <li class="message-preview barTopBottom margTop1">
                      <h5 class="media-heading hStyle"><strong>Meldinger</strong>
                      </h5>
                    </li>

                    <li class="topPadding">
                    </li>
                    <li class="message-preview ">
                      <a href="#">
                        <div class="media">
                          <span class="pull-left">
                        <img class="media-object image" src="http://placehold.it/50x50" alt="">
                        </span>
                          <div class="media-body">
                            <h5 class="media-heading hStyle"><strong>John Smith</strong>
                            </h5>
                            <p class="pTime pAll"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="pAll pText2">Lorem ipsum dolor sit amet, consectetur gtdd...</p>
                          </div>

                        </div>
                      </a>
                    </li>

                    <li class="message-preview barTopBottom margTop2">
                      <h5 class="media-heading hStyle"><strong>Vis mer...</strong>
                      </h5>
                    </li>
                    <li class="botPadding">
                    </li>

                  </ul>
                </div>
              </li>
              <!-- /Messages -->


              <!-- Notifications -->
              {% include "base_notifications.html" %}
              <!-- /Notifications -->


              <li><a href="{{ request.user.get_absolute_url }}">
                <i>
                  <!-- PROFILE PICTURE -->
                  {% include "profile_picture.html" with source=request.user.profile.photo img_size="32x32" alt="" classes="user-detail" %}
                  <!-- /PROFILE PICTURE -->
                </i></a></li>

              <div class="username"><span>{{ request.user.first_name }}</span></div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--/Header-->

    <!-- MENU-SIDEBAR -->
    <div class="nav-side-menu">
      <div class="brand">XFaktor</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse in">
          <!-- Dashboard -->
          <li>
            <a href="{% url 'user:dashboard' %}"><i class="fa fa-th-list"></i> Dashboard </a>
          </li>
          <!-- /Dashboard -->
          <!-- Feed -->
          <li data-toggle="collapse" data-target="#feed" class="collapsed">
            <a href="{% url 'user:user_feed' %}"><i class="fa fa-bolt"></i> Feed <span class="badge cBadge">14</span></a>
          </li>
          <!-- /Feed -->
          <!-- Stats -->
          <li data-toggle="collapse" data-target="#stats" class="collapsed">
            <a href="{% url 'user:user_stats' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats </a>
          </li>
          <!-- /Stats -->
          <!-- Users -->
          <li data-toggle="collapse" data-target="#brukere" class="collapsed">
            <a><i class="fa fa-users collapsed" aria-hidden="true"></i> Brukere <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="brukere">
            <li>
              <a href="{% url 'user:user_list' %}">Finn Brukere</a>
            </li>
            <li>
              <a href="{% url 'user:user_relation' %}">Relasjoner</a>
            </li>
          </ul>
          <!-- /Users -->
          <!-- Team -->
          <li data-toggle="collapse" data-target="#team" class="collapsed">
            <a><i class="fa fa-star collapsed" aria-hidden="true"></i> Team <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="team">
            <li>
              <a href="{% url 'team:team_list' %}">Finn Team </a>
            </li>
            <li>
              <a href="{% url 'team:team_mine' %}">Mine Team</a>
            </li>
          </ul>
          <!-- /Team -->
          <!-- Prosjekter -->
          <li data-toggle="collapse" data-target="#prosjekter" class="collapsed">
            <a><i class="fa fa-suitcase collapsed"></i> Prosjekter <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="prosjekter">
            <li>
              <a href="{% url 'proj:project_list' %}">Finn prosjekt </a>
            </li>
            <li>
              <a href="{% url 'proj:project_mine' %}">Mine prosjekter</a>
            </li>
          </ul>
          <!-- /Prosjekter -->
          <!-- My-Profile -->
          <li data-toggle="collapse" data-target="#minProfil" class="collapsed">
            <a><i class="fa fa-user fa-lg collapsed"></i> Min Profil <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="minProfil">
            <li>
              <a href="{{ request.user.get_absolute_url }}">Vis Min Profil </a>
            </li>
            <li>
              <a href="{% url 'user:user_settings' %}">Innstillinger</a>
            </li>
          </ul>
          <!-- /My-Profile -->
          <!-- Log-Out -->
          <li>
            <a href="{% url 'uauth:logout_then_login' %}"><i class="fa fa-power-off"></i> Logg ut </a>
          </li>
          <!-- /Log-Out -->
        </ul>
      </div>
    </div>
  {% endif %}
  <!-- /MENU-SIDEBAR -->


  <!-- CONTENT -->
  <div class="cContent" id="content">
    {% block content %} {% endblock %}
  </div>
  <!-- /CONTENT -->

  <!-- FOOTER -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="copyright">
            © 2017, XFactor, All rights reserved
          </div>
          <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="/about">Om oss</a></li>
              <li><a href="/contact">Kontakt oss</a></li>
              <li><a href="{% url 'user:user_settings' %}">Innstillinger</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /FOOTER -->

  </div>
  <!-- /WRAPPER -->

  <!-- Used for scripts in external template files -->
  <script>
      $(document).ready(function () {
          {% block domready %}
          {% endblock %}

          // <!-- Notification team join handle -->
          $('div#team-req-join-handle button').click(function (e) {
              e.preventDefault();
              var buttonClicked = $(this);
              $.post('{% url "noti:handle-team-req" %}',
                  {
                      payload: $(this).data('payload'),
                      action: $(this).data('action')
                  },
                  function (data) {
                      if (data['status'] === 'ok') {
                          $(buttonClicked).unbind();
                          buttonClicked.parent().parent().remove();
                          var notif_amount = $('span#notif-amount');
                          notif_amount.text(parseInt(notif_amount.text()) - 1);
                      }
                  });
          });
          // <!-- /Notification team join handle -->
          // <!-- Notification team inv handle -->
          $('div#team-inv-handle button').click(function (e) {
              e.preventDefault();
              var buttonClicked = $(this);
              $.post('{% url "noti:handle-team-inv" %}',
                  {
                      payload: $(this).data('payload'),
                      action: $(this).data('action')
                  },
                  function (data) {
                      if (data['status'] === 'ok') {
                          $(buttonClicked).unbind();
                          buttonClicked.parent().parent().remove();
                          var notif_amount = $('span#notif-amount');
                          notif_amount.text(parseInt(notif_amount.text()) - 1);
                      }
                  });
          });
          // <!-- /Notification team inv handle -->

          // <!-- STATS GOOGLE GRAPH -->
          google.charts.load('current', {'packages': ['annotationchart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
              var data = new google.visualization.DataTable();
              data.addColumn('date', 'Date');
              data.addColumn('number', 'Prosjekt 1');
              data.addColumn('string', 'Prosjekt 1 title');
              data.addColumn('string', 'Prosjekt 1 text');
              data.addColumn('number', 'Prosjekt 2');
              data.addColumn('string', 'Prosjekt 2 title');
              data.addColumn('string', 'Prosjekt 2 text');
              data.addRows([
                  [new Date(2017, 6, 15), 0, 'Prosjekt 1', 'Prosjekt oppstart',
                      undefined, undefined, undefined
                  ],
                  [new Date(2017, 6, 16), 5, 'Prosjekt 1', 'Planleggingsmøte',
                      0, 'Prosjekt 2', 'Prosjekt oppstart'
                  ],
                  [new Date(2017, 6, 17), 5, 'Prosjekt 1', 'Første jobbdag',
                      2, 'Prosjekt 2', 'Møte med oppdragsgiver'
                  ],
                  [new Date(2017, 6, 18), 3, undefined, undefined,
                      4, undefined, undefined
                  ],
                  [new Date(2017, 6, 19), 7, undefined, undefined,
                      1, undefined, undefined
                  ],
                  [new Date(2017, 6, 20), 2, 'Prosjekt 1', 'Prosjekt ferdig',
                      9, 'Prosjekt 2', 'Siste møte'
                  ],
                  [new Date(2017, 6, 21), undefined, undefined, undefined,
                      3, 'Prosjekt 2', 'Prosjekt ferdig'
                  ],
                  [new Date(2017, 6, 22), undefined, undefined, undefined,
                      undefined, undefined, undefined
                  ]
              ]);


              var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

              var options = {
                  displayAnnotations: true
              };

              chart.draw(data, options);

              var pBlue = $('p#stats-blue-row');
              var pRed = $('p#stats-red-row');

              var totalBlue = 0;
              var totalRed = 0;
              for (var row = 0; row < data.getNumberOfRows(); row++) {
                  // Red Graph
                  totalRed += data.getValue(row, 4);
                  // Blue Graph
                  totalBlue += data.getValue(row, 1);
              }
              pRed.text("Red Data: " + parseInt(totalRed));
              pBlue.text("Blue Data: " + parseInt(totalBlue));
          }
      });
      // <!-- /STATS GOOGLE GRAPH -->

      // <!-- HEADER SEARCH ICON -->
      $("#searchIcon").click(function () {
          if ($("#searchBar").is(":hidden")) {
              $("#searchBar").slideDown(350, function () {
              });
          } else {
              $("#searchBar").slideUp(350, function () {
              });
          }
      });
      // <!-- /HEADER SEARCH ICON -->
  </script>

</body>

</html>
