{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- External Resources -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
  <!-- /External Resources -->

  <!-- My Resources -->
  <link rel="stylesheet" href="{% static 'css/base-django-tut.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-sidenav.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-profilenav.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-header.css' %}">
  <link rel="stylesheet" href="{% static 'css/base-mycss.css' %}">

  <script src="{% static 'js/base.js' %}"></script>
  <!-- /My Resources -->
</head>

<body>

  <!-- MESSAGES -->
  <!--{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
      {{ message|safe }}
      <a href="#" onclick="closeMessage(event, this)" class="close">x</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}-->



  <!-- WRAPPER -->
  <div class="cWrapper">
    {% if request.user.is_authenticated %}
    <!--Header-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!--Search bar -->
            <div class="container searchBody" id="searchBar">
              <div class="row">
                <div class="col-xs-8 col-xs-offset-0">
                  <div class="input-group">
                    <div class="input-group-btn search-panel">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  <span id="search_concept">Kategori</span> <span class="caret"></span>
                                </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Prosjekter</a></li>
                        <li><a href="#">Brukere</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">Alt</a></li>
                      </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Søk her...">
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Søk <span style="display:inline-block; width:5px;"></span><span class="glyphicon glyphicon-search text"></span></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!--/Search bar -->
          </div>

          <div class="col-md-6 socl-icons">
            <ul>
              <li><a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></i></a></li>
              <li style="background-color: transparent;"><a href="{{ request.user.get_absolute_url }}">
                <i>
                  {% if user.profile.photo %}
                    {% load thumbnail %}
                    {% thumbnail request.user.profile.photo "32x32" crop="100%" format="PNG" as im %}
                        <img src="{{ im.url }}" class="user-detail">
                    {% endthumbnail %}
                  {% else %}
                    {% if request.user.profile.gender == "mann" %}
                        {% thumbnail "no_image_male.png" "32x32" crop="100%" format="PNG" as im %}
                            <img src="{{ im.url }}" class="user-detail">
                        {% endthumbnail %}
                    {% elif request.user.profile.gender == "kvinne" %}
                        {% thumbnail "no_image_female.png" "32x32" crop="100%" format="PNG" as im %}
                            <img src="{{ im.url }}" class="user-detail">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail "no_image.png" "32x32" crop="100%" format="PNG" as im %}
                            <img src="{{ im.url }}" class="user-detail">
                        {% endthumbnail %}
                    {% endif %}
                  {% endif %}
                </i></a></li>
                <span style="color: white;">{{ request.user.first_name }}</span>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--/Header-->

    <!-- MENU-SIDEBAR -->
    <div class="nav-side-menu">
      <div class="brand">XFaktor</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse in">
          <!-- Dashboard -->
          <li>
            <a href="{% url 'user:dashboard' %}"><i class="fa fa-th-list"></i> Dashboard </a>
          </li>
          <!-- /Dashboard -->
          <!-- Feed -->
          <li data-toggle="collapse" data-target="#feed" class="collapsed">
            <a><i class="fa fa-bolt"></i> Feed <span class="badge cBadge">14</span></a>
          </li>
          <!-- /Feed -->
          <!-- Stats -->
          <li data-toggle="collapse" data-target="#stats" class="collapsed">
            <a><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats </a>
          </li>
          <!-- /Stats -->
          <!-- Users -->
          <li data-toggle="collapse" data-target="#brukere" class="collapsed">
            <a><i class="fa fa-users collapsed" aria-hidden="true"></i> Brukere <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="brukere">
            <li>
              <a href="{% url 'user:user_list' %}">Finn Brukere</a>
            </li>
            <li>
              <a href="{% url 'user:user_list' %}">Relasjoner</a>
            </li>
          </ul>
          <!-- /Users -->
          <!-- Team -->
          <li data-toggle="collapse" data-target="#team" class="collapsed">
            <a><i class="fa fa-star collapsed" aria-hidden="true"></i> Team <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="team">
            <li>
              <a href="#">Finn Team </a>
            </li>
            <li>
              <a href="#">Mine Team</a>
            </li>
          </ul>
          <!-- /Team -->
          <!-- Prosjekter -->
          <li data-toggle="collapse" data-target="#prosjekter" class="collapsed">
            <a><i class="fa fa-suitcase collapsed"></i> Prosjekter <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="prosjekter">
            <li>
              <a href="{% url 'proj:project_list' %}">Finn prosjekt </a>
            </li>
            <li>
              <a href="{% url 'proj:project_mine' %}">Mine prosjekter</a>
            </li>
          </ul>
          <!-- /Prosjekter -->
          <!-- My-Profile -->
          <li data-toggle="collapse" data-target="#minProfil" class="collapsed">
            <a><i class="fa fa-user fa-lg collapsed"></i> Min Profil <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="minProfil">
            <li>
              <a href="{{ request.user.get_absolute_url }}">Vis Min Profil </a>
            </li>
            <li>
              <a href="{% url 'user:user_settings' %}">Innstillinger</a>
            </li>
          </ul>
          <!-- /My-Profile -->
          <!-- Log-Out -->
          <li>
            <a href="{% url 'uauth:logout_then_login' %}"><i class="fa fa-power-off"></i> Logg ut </a>
          </li>
          <!-- /Log-Out -->
        </ul>
      </div>
    </div>
    {% endif %}
    <!-- /MENU-SIDEBAR -->

    <!-- CONTENT -->
    <div class="cContent" id="content">
      {% block content %} {% endblock %}
    </div>
    <!-- /CONTENT -->

    <!-- FOOTER -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="copyright">
              © 2017, XFactor, All rights reserved
            </div>
          </div>
          <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakt oss</a></li>
              <li><a href="{% url 'user:user_settings' %}">Innstillinger</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /FOOTER -->

  </div>
  <!-- /WRAPPER -->

  <!-- Used for scripts in external template files -->
  <script>
    $(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });
  </script>

</body>

</html>
