{% extends "base.html" %}

{% block title %}Upgrade{% endblock %}

{% block content %}






<div class="content">
          <div class="container-fluid">
              <div class="row">
        <div class="col-md-8 col-md-offset-2">
                      <div class="card">
                          <div class="header text-center">
                              <h4 class="title">wrsp PRO</h4>
                              <p class="category">Ser du etter flere funksjoner? Vennligst oppgrader for og få tilgang til premium funksjoner.</p>
              <br>
                          </div>
                          <div class="content table-responsive table-full-width table-upgrade">
                              <table class="table">
                                  <thead>
                                      <th></th>
                                    <th class="text-center">Free</th>
                                    <th class="text-center">PRO</th>
                                  </thead>
                                  <tbody>
                                      <tr>
                                        <td>Aktive oppdrag</td>
                                        <td>16</td>
                                        <td>Ubegrenset</td>
                                      </tr>
                                      <tr>
                                        <td>Antall teams</td>
                                        <td>4</td>
                                        <td>14+</td>
                                      </tr>
                                      <tr>
                                        <td>Lagringsplass filer teams</td>
                                        <td>1 GB</td>
                                        <td>15GB</td>
                                      </tr>
                                      <tr>
                                        <td>Portfolio</td>
                                        <td><i class="fa fa-times text-danger"></i></td>
                                        <td><i class="fa fa-check text-success"></td>
                                      </tr>
                                      <tr>
                                        <td>Fakturering</td>
                    <td><i class="fa fa-times text-danger"></i></td>
                                        <td><i class="fa fa-check text-success"></td>
                                      </tr>
                                      <tr>
                                        <td>Utdypet team funksjonalitet</td>
                    <td><i class="fa fa-times text-danger"></i></td>
                                        <td><i class="fa fa-check text-success"></td>
                                      </tr>
                  <tr>
                                        <td>Premium Support</td>
                    <td><i class="fa fa-times text-danger"></i></td>
                                        <td><i class="fa fa-check text-success"></td>
                                      </tr>
                  <tr>
                                        <td></td>
                    <td>Gratis</td>
                                        <td>Bare 400nok</td>
                                      </tr>
                  <tr>
                    <td></td>
                    <td>
                      <a href="#" class="btn btn-round btn-fill btn-default disabled">Gratis Versjon</a>
                    </td>
                    <td>
                      <a target="_blank" href="#" class="btn btn-round btn-fill btn-info">Oppgrader til PRO</a>
                    </td>
                  </tr>
                                  </tbody>
                              </table>

                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
{% endblock %}
