{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Brukere{% endblock %} {% block content %}

  <h1>Brukere</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
          <!-- PROFILE PICTURE -->
          {% include "profile_picture.html" with img_size="180x180" %}
          <!-- /PROFILE PICTURE -->
        </a>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">{{ user.get_full_name }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
