packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py makemigrations && python manage.py migrate"
  03_migrate_thumbnails:
    command: "python manage.py makemigrations thumbnail && python manage.py migrate"
#  04_chown:
#    command: "chmod g+s db.sqlite3 && chown wsgi:wsgi db.sqlite3"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: xfactor/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
        /static/: "static/"



