{% extends "base.html" %}

{% block title %}Stats{% endblock %}

<!-- BLOCK HEAD -->
{% block head %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <style>
    .chart {
      margin-left: -20px;
      width: 900px;
      height: 500px;
    }
  </style>
{% endblock %}
<!-- /BLOCK HEAD -->

<!-- BLOCK CONTENT -->
{% block content %}
  <h1>Stats</h1>

  <p id="stats-blue-row"></p>
  <p id="stats-red-row"></p>

  <div id='chart_div' class='chart'></div>
{% endblock %}
<!-- /BLOCK CONTENT -->

<!-- BLOCK DOMREADY  // LIGGER I 'base.html'-->
{% block domready %}
{% endblock %}
<!-- /BLOCK DOMREADY -->