{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <div class="profile-info">
        {% if user.profile.photo %}
            {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                <img src="{{ im.url }}" class="user-detail">
            {% endthumbnail %}
        {% else %}
            {% if user.profile.gender == "mann" %}
                {% thumbnail "no_image_male.png" "180x180" crop="100%" as im %}
                    <img src="{{ im.url }}" class="user-detail">
                {% endthumbnail %}
            {% elif user.profile.gender == "kvinne" %}
                {% thumbnail "no_image_female.png" "180x180" crop="100%" as im %}
                    <img src="{{ im.url }}" class="user-detail">
                {% endthumbnail %}
            {% else %}
                {% thumbnail "no_image.png" "180x180" crop="100%" as im %}
                    <img src="{{ im.url }}" class="user-detail">
                {% endthumbnail %}
            {% endif %}
        {% endif %}
    </div>
    {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{ total_followers }}</span>
            follower{{ total_followers|pluralize }}
        </span>
        {% if user.id is not request.user.id %}
        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
            {% if request.user not in user.followers.all %}
                Følg
            {% else %}
                Slutt å følge
            {% endif %}
        </a>
        {% endif %}
    {% endwith %}

    <div class="user_information">
        <p>Navn: {{ user.first_name }}&nbsp{{ user.last_name }}</p>
        <p>Fødselsdato: {{ user.profile.date_of_birth }}</p>
        <p>Mail: {{ user.email }}</p>
    </div>

{% endblock %}

{% block domready %}
    $('a.follow').click(function(e){
        e.preventDefault();
        $.post('{% url "user_follow" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.follow').data('action');

                    // toggle data-action
                    $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
                    // toggle link text
                    $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

                    // update total followers
                    var previous_followers = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
                }
        });
    });
{% endblock %}
