{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Brukere{% endblock %}

{% block content %}
    <h1>Brukere</h1>
    <div id="people-list">
        {% for user in users %}
           <div class="user">
               <a href="{{ user.get_absolute_url }}">
                   {% if user.profile.photo %}
                       {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
                           <img src="{{ im.url }}">
                       {% endthumbnail %}
                   {% else %}
                       {% thumbnail "no_image.png" "180x180" crop="100%" as im %}
                            <img src="{{ im.url }}" class="user-detail">
                        {% endthumbnail %}
                   {% endif %}
               </a>
               <div class="info">
                   <a href="{{ user.get_absolute_url }}" class="title">{{ user.get_full_name }}</a>
               </div>
           </div>
        {% endfor %}
    </div>
{% endblock %}