{% extends "base.html" %} {% load utils %}
{% block title %}Opprett Prosjekt{% endblock %}


<!--TODO: Add backend into this form -->

{% block content %}

    <h1>Opprett Prosjekt</h1>
    <p>Bruk formen under for å opprette et nytt prosjekt:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ project_form.as_p }}
        <br>
        {% csrf_token %}
        <p><input type="submit" value="Lagre"></p>
    </form>
  <!--
    <form class="form-inline">
    <div class="form-group">
    	<label for="pron">Project Name</label>
    	<input type="text-box" class="form-control" id="pron">
    </div>
    </form>

    <form>
    <div class="form-group">
        <label for="besk">Beskrivelse</label>
        <textarea class="form-control" rows="5" id="besk">
        </textarea>
    </div>
    </form>

    <form class="form-inline">
    <div class="form-group">
        <label for="date">Deadline</label>
        <input type="date" class="form-control" id="date">
    </div>
    </form>

    <form class="form-inline">
    <div class="checkbox">
        <p>(Huk av for)</p>
        <label><input type="checkbox" value="">Time</label>
        <label><input type="checkbox" value="">Fast</label>
    </div>
    <div class="input-group">
        <label for="price">Beløp</label>
        <div class="input-group-addon">NOK</div>
        <input type="number" min="0.00" value="1.00" id="Price" class="form-control" placeholder="price">
    </div>     
    </form>

    <form>
        <label for="egenskaper">Ferdigheter som behøves?</label>
        <input type="text-box" class="form-control" id="es">
    </form>

    <form>
        <div>
            <input type="file" name="">
        </div>
    </form>
-->
{% endblock %}
