{% extends "base.html" %} {% load utils %} {% load staticfiles %} {% block title %}{{ project.title }}{% endblock %} {% block content %}
  <!-- In prosgress
<link rel="stylesheet" href="{% static 'detail.css' %}">
-->
  <!--
  <h1>{{ project.title }}</h1>
  {% if request.user == project.author %}
    <form action="" method="post">
      {% csrf_token %}
      <button name="delete_project" value="{% scramble project.pk %}">Slett prosjekt</button>
    </form>
    <form action="{{ project.get_edit_url }}" class="inline">
      <button type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
    </form>
  {% endif %}
  <br><br>
  <p class="date"><span style="color: green;">Publisert</span> {{ project.created }} av {{ project.author }}</p>
  {{ project.body|linebreaks }}
  {% if request.user == project.author %}
    <br>
    <p><i>Opprettet av deg</i></p>
  {% endif %}
-->


  <!-- main -->
  <div class="content">
  <div class="main-header">
    <h2>{{ project.title }}</h2>
  </div>
  <div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="project-section general-info">
        <h3>Prosjektbeskrivelse</h3> {% if request.user == project.author %} {% csrf_token %}
        <form action="{{ project.get_edit_url }}" class="inline">
          <button type="button" class="btn btn-sm btn-primary pull-right"><i class="fa fa-edit"></i> Endre Prosjekt</button>
        </form>
      {% endif %}

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim dui ut laoreet pretium. Curabitur faucibus porta mollis. Donec at luctus odio. Maecenas ornare nisl a pretium rhoncus. Maecenas non arcu in magna viverra egestas eu et
          orci. Nunc ac tellus sed elit convallis dictum nec eu ex. Praesent eu ipsum sollicitudin, dictum quam at, gravida ex. Duis tempor enim vel nisi congue sollicitudin. Nam rhoncus dolor non augue rutrum laoreet. Integer eu odio diam. Donec a
          semper neque. Donec consequat nunc in elit euismod, eget posuere mauris ultricies. Etiam mattis imperdiet est at iaculis. Fusce venenatis aliquet auctor..</p>
        <div class="row">
          <div class="col-sm-9">
            <dl class="dl-horizontal">
              <dt>Dato:</dt>
              <dd>August 1, 2017 - August 30, 2017</dd>
              <dt>Varighet:</dt>
              <dd>30 dager <span class="text-muted"><small>(20 dager igjen)</small></span></dd>
              <dt>Oppdragsgiver:</dt>
              <dd><a href="#">Firma AS</a></dd>
              <dt>Prioritet:</dt>
              <dd><span class="label label-danger">HIGH</span></dd>
              <dt>Status:</dt>
              <dd><span class="label label-success">Aktiv</span></dd>
              <dt>Team:</dt>
              <dd>
                <ul class="list-inline team-list">
                  <li>
                    <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Antonius</a></td>

                    <span class="text-muted">Prosjekt leder</span>
                  </li>
                  <li>
                    <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Michael</a></td>

                    <span class="text-muted">Designer</span>
                  </li>
                  <li>
                    <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Stella Ray</a></td>
                    <span class="text-muted">Utvikler</span>
                  </li>
                  <li>
                    <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Jane Doe</a></td>
                    <span class="text-muted">Markedsfører</span>
                  </li>
                  <li>
                    <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Jason</a></td>

                    <span class="text-muted">Dev Ops</span>
                  </li>
                  <li class="team-add">
                    <i class="icon ion-person"></i>
                    <a href="#"><i class="fa fa-plus-circle"></i> Legg til </a>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <!-- TODO: Make a progress bar -->
        </div>
      </div>
    </div>
  </div>
  <!-- /main -->



{% endblock %}
