{% extends "base.html" %}

{% block title %}Prosjekter{% endblock %}

{% block content %}

    <h1>Prosjekter</h1>
    <div class="content">
    				<div class="main-header">
    					<em>Du tilhører <span class="label label-success">4 aktive</span> prosjekter, <span class="label label-warning">2 ventende</span> og <span class="label label-default">2 lukkede</span></em>
    				</div>
    				<div class="main-content">
    					<div class="bottom-30px">
    						<a href="{% url 'proj:project_create' %}" class="btn btn-primary"><i class="fa fa-plus-square"></i> Opprett nytt prosjekt</a>
    						<nav class="main-content-nav pull-right">
    							<ul class="list-inline">
    								<li><a href="#"><i class="fa fa-tasks"></i> Mine Oppgaver</a></li>
    								<li><a href="#"><i class="fa fa-files-o"></i> Mine filer</a></li>
    								<li><a href="#"><i class="fa fa-history"></i> Min aktivitet</a></li>
    							</ul>
    						</nav>
    					</div>
    					<div class="table-responsive">
    						<!-- PROJECT TABLE -->
    						<table class="table colored-header datatable project-list">
    							<thead>
    								<tr>
    									<th>Tittel</th>
    									<th>Start Dato</th>
    									<th>Dager til deadline</th>
    									<th>Fremgang</th>
    									<th>Prioritet</th>
    									<th>Leder</th>
    									<th>Status</th>
    								</tr>
    							</thead>
    							<tbody>
    								<tr>
                      <!-- TODO: List projectss -->
                      {% for project in projects %}
                      <td><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></td>
                      <td>{{ project.publish }}</td>
                      <td>12 dager</td>
                      <td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="95"></div>
    										</div>
    									</td>
                      <td><span class="label label-warning">MEDIUM</span></td>
                      <td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">{{ project.author }}</a></td>
                      <td><span class="label label-success">AKTIV</span></td>
    								</tr>
                      {% endfor %}
                      <!--
                      {% for project in projects %}
                          <h2><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h2>
                          <p class="date">Publisert {{ project.publish }} av {{ project.author }}</p>

                          {{ project.body|truncatewords:30|linebreaks }}
                      {% endfor %}
                      -->
                      <!--Statisk data-->
                      <td><a href="#">Lage hjemmeside for Tog foreningen</a></td>
    									<td>13.05.17</td>
    									<td>12 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="95"></div>
    										</div>
    									</td>
    									<td><span class="label label-warning">MEDIUM</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Michael</a></td>
    									<td><span class="label label-success">AKTIV</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Webshop for Kunde AS</a></td>
    									<td>24.05.17</td>
    									<td>30 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="40"></div>
    										</div>
    									</td>
    									<td><span class="label label-success">LAV</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Antonius</a></td>
    									<td><span class="label label-warning">VENTER</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">IT Prosjekt</a></td>
    									<td>20.09.17</td>
    									<td>50 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="65"></div>
    										</div>
    									</td>
    									<td><span class="label label-danger">HØY</span></td>
    								<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Antonius</a></td>
    									<td><span class="label label-success">AKTIV</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Wordpress Tema</a></td>
    									<td>05.10.17</td>
    									<td>40 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="77"></div>
    										</div>
    									</td>
    									<td><span class="label label-warning">MEDIUM</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="" class="" %} <a href="#">Jason</a></td> <a href="#">Michael</a></td>
    									<td><span class="label label-success">AKTIV</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Redesign av Landings Side</a></td>
    									<td>15.11.17</td>
    									<td>30 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="25"></div>
    										</div>
    									</td>
    									<td><span class="label label-success">LAV</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Jason</a></td>
    									<td><span class="label label-success">AKTIV</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Drone Oppdrag</a></td>
    									<td>20.09.17</td>
    									<td>N/A</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar progress-bar-default" data-transitiongoal="100"></div>
    										</div>
    									</td>
    									<td><span class="label label-default">MEDIUM</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Antonius</a></td>
    									<td><span class="label label-default">LUKKET</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Freelance Oppdrag</a></td>
    									<td>05.10.17</td>
    									<td>2 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar progress-bar-default" data-transitiongoal="100"></div>
    										</div>
    									</td>
    									<td><span class="label label-default">MEDIUM</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Michael</a></td>
    									<td><span class="label label-default">LUKKET</span></td>
    								</tr>
    								<tr>
    									<td><a href="#">Redesign Landing Page</a></td>
    									<td>15.11.2017</td>
    									<td>30 dager</td>
    									<td>
    										<div class="progress">
    											<div class="progress-bar" data-transitiongoal="33"></div>
    										</div>
    									</td>
    									<td><span class="label label-success">LAV</span></td>
    									<td>{% include "profile_picture.html" with img_size="32x32" alt="avatar" class="avatar img-circle" %} <a href="#">Jason</a></td>
    									<td><span class="label label-warning">VENTER</span></td>
    								</tr>
    							</tbody>
    						</table>
    						<!-- END PROJECT TABLE -->
    					</div>
    				</div>
    			</div>
    			<!-- /main -->
    			<!-- FOOTER -->



{% endblock %}
