/*header*/

.top-bar {
  background: #1A3051 none repeat scroll 0 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.top-bar p {
  color: #000;
  font: 500 20px/38px roboto;
}


/*Icons in header */

.socl-icons {
  padding-top: 5px;
}

.top-bar .socl-icons ul {
  margin-right: 10%;
  float: right;
}

.top-bar .socl-icons li {
  float: left;
  list-style: outside none none;
  margin-right: 8px;
}

.top-bar .socl-icons li a {
  display: inline-block;
  border-radius: 0;
  /*background: #000;*/
  color: #fff;
  margin: 5px 0px;
  text-align: center;
  font-size: 16px;
}

.top-bar .socl-icons li a .widthHeight {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.username {
  float: right;
  color: white;
  padding-top: 10px;
}


/*Search bar*/

.searchbarBody {
  margin-top: 8px;
  margin-left: 40px;
}

.searchbarInput {
  border: 2px #1A3051;
  border-radius: 5px;
}


/* Messages and Notifications */


/* -Dropdown Menu */

.top-bar .socl-icons li .notificationBar {
  width: 360px;
  height: 370px;
  overflow-y: scroll;
}

.top-bar .socl-icons .mMargLeft {
  /*Position for message dropdown */
  margin-left: -51px;
}

.top-bar .socl-icons .nMargLeft {
  /*Position for notification dropdown */
  margin-left: -89px;
}


/* -Arrow */

.top-bar .socl-icons .arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #C5C5C5;
  position: fixed;
  margin-top: -13px;
}

.top-bar .socl-icons li .mArrowPos {
  /*Position for message dropdown arrow*/
  margin-left: 57px;
}

.top-bar .socl-icons li .nArrowPos {
  /*Position for notification dropdown arrow*/
  margin-left: 95px;
}


/* -Header and Footer */

.top-bar .socl-icons .barTopBottom {
  /* Used for the header and the footer in the notification dropdown menu */
  position: fixed;
  background: #fff none repeat scroll 0 0;
  width: 340px;
  height: 20px;
}

.top-bar .socl-icons .margTop1 {
  /*Position for header*/
  margin-top: -5px;
  border-bottom: 1px solid #c5c5c5;
  padding: 3px;
}

.top-bar .socl-icons .margTop2 {
  /*position for footer*/
  margin-top: 343px;
  border-top: 1px solid #c5c5c5;
  padding: 3px;
}

.top-bar .socl-icons li .viewMore {
  /*Position for View More link */
  margin-top: -5px;
  margin-bottom: 0px;
}

.top-bar .socl-icons .topPadding {
  /* Padding after header */
  margin-top: 15px;
}

.top-bar .socl-icons .botPadding {
  /* Padding before footer */
  margin-top: 15px;
}


/* -Content */

.top-bar .socl-icons li .image {
  width: 90%;
  height: 90%;
  float: left;
}

.top-bar .socl-icons li .hStyle {
  font-size: 12px;
  color: black;
  text-align: left;
}

.top-bar .socl-icons li .pAll {
  text-align: left;
  line-height: 5px;
  font-family: helvetica, sans-serif;
}

.top-bar .socl-icons li .pTime {
  font-size: 9px;
  font-style: italic;
}

.top-bar .socl-icons li .pText1 {
  font-size: 11px;
  display: inline;
}

.top-bar .socl-icons li .pText2 {
  font-size: 11px;
}

.top-bar .socl-icons li a .pText3 {
  line-height: 15px;
  white-space: normal;
  max-width: 250px;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 0px;
}

/*  -content: buttons */
.top-bar .socl-icons li a .btnStyle {
  /* Accept and decline buttons */
  color: #333;
  padding-top: 15px;
  padding-left: 7px;
}

.top-bar .socl-icons li .btnDelete {
  float: right;
  padding: 0px 5px;
  margin-left: 5px;
  border-color: transparent;
  background-color: transparent;
}

.top-bar .socl-icons li .btnDelete:hover {
  background-color: white;
}

.top-bar .socl-icons li .notificationMargin {
  padding-right: 5px;
  padding-left: 7px;
  padding-top: 0px;
  margin-top:0px;
  width: 340px;
}

.top-bar .socl-icons li a .closeIcon {
  color: #C5C5C5;
  font-size: 12px;
}

.top-bar .socl-icons li a .notBot {
padding-bottom: 0px;
padding-top:0px;
margin-top:0px;
margin-bottom:0px;
}
