/*header*/

.top-bar {
  background: #1A3051 none repeat scroll 0 0;
  height: 50px;
  width: 100%;
  position:fixed;
  z-index: 2;
}

.top-bar p {
  color: #000;
  font: 500 20px/38px roboto;
}

/*Icons in header */
.socl-icons {
  padding-top: 5px;
}

.top-bar .socl-icons ul {
  margin-right: 10%;
  float: right;
}

.top-bar .socl-icons li {
  float: left;
  list-style: outside none none;
  margin-right: 8px;
}

.top-bar .socl-icons li a {
  display: inline-block;
  border-radius: 0;

  /*background: #000;*/
  color: #fff;
  margin: 5px 0px;
  text-align: center;
  font-size: 16px;
  display: block;
  color: #fff;
}

.top-bar .socl-icons li a .widthHeight{
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.username{
  float:right;
  color:white;
  padding-top:10px;
}

/*Search bar*/

.searchbarBody {
  margin-top: 8px;
  margin-left:40px;
}

.searchbarInput{
  border:2px #1A3051;
  border-radius: 5px;
}


/* Messages */
.top-bar .socl-icons .arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-bottom: 7px solid #C5C5C5;
  margin-top: -12px;


}

.top-bar .socl-icons .m1{
    margin-left: 52px;
}

.top-bar .socl-icons .n1{
    margin-left: 90px;
}

.top-bar .socl-icons li .box{
  width:350px;
  margin-left: -45px;
  margin-top:10px;

}
.top-bar .socl-icons li .m2{
  margin-left: -42px;

}
.top-bar .socl-icons li .n2{
  margin-left: -80px;

}
.top-bar .socl-icons li .image{
  width:90%;
  height: 90%;
  float:left;

}
.top-bar .socl-icons li .hStyle{
font-size: 12px;
color:black;
text-align: left;

}
.top-bar .socl-icons li .pStyle{
text-align: left;
line-height: 5px;
font-family: helvetica, sans-serif;
}
.top-bar .socl-icons li .p1Style{
line-height: 2px;
  font-size: 9px;
font-style: italic;
}
.top-bar .socl-icons li .p2Style{
  line-height: 5px;
  font-size: 11px;
}
