@import url(http://fonts.googleapis.com/css?family=Muli);
body {
  margin: 0px;
  padding: 0px;
  font-family: helvetica, sans-serif;
  background: #FFFFFF;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #0049C1;
}

a:hover {
  color: #317AF7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
}

h1 {
  margin: 10px 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #bbb;
}

h2 {
  margin: 30px 0 20px;
}

ol {
  line-height: 1.5;
}


/* Content */

#content {
  padding: 30px 100px;
}


/* forms */

form {
  overflow: auto;
}

form p {
  overflow: auto;
  width: 100%;
}

label {
  float: left;
  clear: both;
  margin-bottom: 4px;
  color: #333;
}

input, textarea {
  float: left;
  clear: both;
  margin: 0 0 10px;
  padding: 6px 10px;
  border: 0;
  background: #efefef;
  font-size: 14px;
}

input[type=submit], a.button {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background: #0049C1;
  font-size: 14px;
  font-weight: bold;
}

.errorlist {
  float: left;
  clear: both;
  padding-left: 10px;
  color: #cc0033;
}

.helptext {
  float: left;
  clear: both;
  margin: 0 0 20px 0;
  color: #aaa;
  font-size: 13px;
}

.login-form {
  float: left;
}


/* images */

.image-preview, .image-detail {
  float: left;
  max-width: 300px;
  margin: 0 20px 20px 0;
}

.image-detail {
  margin-top: 20px;
}

.image-info div {
  overflow: auto;
  padding: 20px 0;
}

.count {
  /*followers*/
  float: right;
  margin: 20px 10px 0;
  padding: 10px 20px;
  color: #aaa;
  border: 3px solid #bbb;
  border-radius: 26px;
}

a.like, a.follow {
  float: right;
  margin-top: -8px;
}


/* users */

#people-list img {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 50%;
}

#people-list .user {
  float: left;
  overflow: auto;
  /*width: 180px;*/
  padding: 10px;
}

#people-list .info {
  text-align: center;
}

img.user-detail {
  float: left;
  border-radius: 50%;
}

.profile-info {
  float: left;
  overflow: auto;
  margin-right: 20px;
}


/* actions */

.action {
  clear: both;
  overflow: auto;
}

.action .images {
  float: left;
  margin: 0 10px 10px 0;
}

.action .date {
  color: #ccc;
  font-style: italic;
}
