/*header*/

.top-bar {
  background: #1A3051 none repeat scroll 0 0;
  height: 50px;
  width: 100%;
  position:fixed;
  z-index: 2;
}

.top-bar p {
  color: #000;
  font: 500 20px/38px roboto;
}

/*Icons in header */
.socl-icons {
  padding-top: 5px;
}

.top-bar .socl-icons ul {
  margin-right: 10%;
  float: right;
}

.top-bar .socl-icons li {
  float: left;
  list-style: outside none none;
  margin-right: 8px;
}

.top-bar .socl-icons li a {
  display: inline-block;
  border-radius: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /*background: #000;*/
  color: #fff;
  margin: 5px 0px;
  text-align: center;
  font-size: 16px;
  display: block;
  color: #fff;
}

.username{
  float:right;
  color:white;
  padding-top:10px;
}

/*Search bar*/

.searchbarBody {
  margin-top: 8px;
  margin-left:40px;
}

.searchbarInput{
  border:2px #1A3051;
  border-radius: 5px;
}
