{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Prosjekter{% endblock %}

{% block content %}
  <div class="jumbotron"><h1>xFaktor</h1>
    <p>Din fremtidige virtuelle arbeidsplass</p>
  </div>
  <p>Lorem ipsum dolor sit nec ei utinam integre,
    te mel oratio libris,
    labitur voluptatum cum et. Mel debitis theophrastus interpretaris id,
    noster copiosae adversarium in his,
    sonet omittam ullamcorper mel eu. Ei consul mediocrem vix. Eos ex scribentur definitiones. Congue consul his cu,
    sit congue gloriatur ullamcorper te. Dicam accommodare ei usu,
    et virtute invidunt repudiandae sit. Eos ut iriure democritum,
    cum cotidieque omittantur in. Et est modus scripta,
    everti scripta deterruisset eum te. Sea et altera feugait referrentur,
    ut partem nominati molestiae quo,
    in qui denique deleniti maluisset. Natum fuisset ea mei. Ne diam solum accusam pri. Duo eu impedit menandri,
    nam epicuri perfecto electram id. Ei quo vitae persequeris,
    elit verear salutandi id per. Tota elitr nam ei,
    nec hinc debitis ad,
    te his illud alienum incorrupte. In epicuri democritum sed,
    erant tempor incorrupte in sed,
    platonem abhorreant usu et. Stet inimicus inciderint pri ut. Vim quas pericula et. Pro et fierent mentitum scriptorem,
    vel paulo mediocritatem te. Homero alterum legendos duo ne,
    cu sit modus numquam constituam. Docendi urbanitas quo no,
    has civibus nostrum insolens no. Cibo minimum persequeris ei cum,
    labitur aliquam omnesque eu pro. Mel te possim platonem,
    in duo hinc clita,
    per inciderint ullamcorper reprehendunt id. Duis euismod no usu. Mei in discere diceret legendos. Eam choro sanctus an. In adhuc graeci est.
  </p>
{% endblock %}
