{% extends "base.html" %}
{% load utils %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
  <h1>{{ team.name }}</h1>

  {% if request.user in members %}
    {% if request.user == team.author %}
      <form action="" method="post">
        {% csrf_token %}
        <button name="delete_team" value="{% scramble team.pk %}">Slett team</button>
      </form>
    {% endif %}

    {% if team.status == "public" %}
      <p class="date"><span style="color: green;">Offentlig</span> {{ team.created }} av {{ team.author }}</p>
    {% elif team.status == "private" %}
      <p class="date"><span style="color: red;">Skjult</span> {{ team.created }} av {{ team.author }}</p>
    {% endif %}


    {% if members %}
      <h4>Members of this group</h4>
      <ul>
        {% for member in members %}
          <li>{{ member }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h4>Non-Members</h4>
    <ul>
      {% if team.author == request.user %}
        {% for non_user in all_users %}
          {% if non_user not in members %}
            {% if non_user in pending_inv or non_user in pending_req %}
              <li>
                <button><i class="fa fa-clock-o" aria-hidden="true"></i> Pending</button>
                {{ non_user.username }}</li>
            {% else %}
              <li>
                <button id="invite" data-value="{% scramble_mul non_user.pk team.pk %}" data-action="invite"><i class="fa fa-plus" aria-hidden="true"></i> Invite</button>
                {{ non_user.username }}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% for non_user in all_users %}
          {% if non_user not in members %}
            <li>{{ non_user.username }}</li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  {% else %}
    <p>Du er ikke medlem av denne gruppen, derfor har du ikke tilgang.</p>
  {% endif %}

{% endblock %}

{% block domready %}
  $('button#invite').click(function(e){
  e.preventDefault();
  var buttonClicked = $(this);
  $.post('{% url "team:team_invite" %}',
  {
  value: $(this).data('value')
  },
  function(data) {
  if (data['status'] === 'ok') {
  $(buttonClicked).unbind();
  var $icon = (buttonClicked).find('i');
  $icon.removeClass('fa-plus');
  $icon.addClass('fa-clock-o');
  $(buttonClicked).html($icon);
  $(buttonClicked).append(' Pending');
  $(buttonClicked).removeAttr('id');
  $(buttonClicked).removeAttr('data-team');
  $(buttonClicked).removeAttr('data-action');
  }
  });
  });
{% endblock %}