{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}
  <h1>Teams</h1>

  {% if request.user.is_authenticated %}
    <a href="{% url 'team:team_create' %}" class="button">+ Opprett Team</a>
  {% endif %}

  {% for team in teams %}
    <h2><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></h2>
    {% if team not in memberOf %}
      <form action="#" class="inline">
        <button type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </form>
    {% endif %}
    <p class="date">Opprettet {{ team.created }} av {{ team.author }}</p>
    {{ team.desc }}
  {% endfor %}
{% endblock %}