{% extends "base.html" %}
{% load utils %}

{% block title %}Teams{% endblock %}

{% block content %}
  <h1>Teams</h1>

  {% if request.user.is_authenticated %}
    <a href="{% url 'team:team_create' %}" class="button">+ Opprett Team</a>
  {% endif %}

  {% for team in teams %}
    <h2><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></h2>
    {% if team not in memberOf %}
      {% if team.pk in pending_req or team.pk in pending_inv %}
        <button><i class="fa fa-clock-o" aria-hidden="true"></i> Pending</button>
      {% else %}
        <button type="button" id="req_join"
                data-team="{% scramble team.pk %}">
          <i class="fa fa-plus" aria-hidden="true"></i> Req to join</button>
      {% endif %}
    {% endif %}
    <p class="date">Opprettet {{ team.created }} av {{ team.author }}</p>
    {{ team.desc }}
  {% endfor %}
{% endblock %}

{% block domready %}
    $('button#req_join').click(function(e){
        e.preventDefault();
        var buttonClicked = $(this);
        $.post('{% url "team:team_req_join" %}',
            {
                team: $(this).data('team')
            },
            function(data) {
                if (data['status'] === 'ok') {
                    $(buttonClicked).unbind();
                    var $icon = (buttonClicked).find('i');
                    $icon.removeClass('fa-plus');
                    $icon.addClass('fa-clock-o');
                    $(buttonClicked).html($icon);
                    $(buttonClicked).append(' Pending');
                    $(buttonClicked).removeAttr('id');
                    $(buttonClicked).removeAttr('data-team');
                    $(buttonClicked).removeAttr('data-action');
                }
            });
    });
{% endblock %}