{% extends "base.html" %}

{% block title %}Bytt passordet ditt{% endblock %}

{% block content %}
    <h1>Bytt passordet ditt</h1>
    {% if validlink %}
        <p>Vennligst skriv inn nytt passord 2 ganger:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Lagre" /></p>
        </form>
    {% else %}
        <p>Linken er ugyldig, mest sannynlig fordi den allerede er brukt. Vennligst be om nytt passord.</p>
    {% endif %}
{% endblock %}
